<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.line.rising11">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Coming_soon"></activity>
        <activity android:name=".contest_filter" />
        <activity android:name=".paytm_withdrawl" />
        <activity android:name=".bank_withdrawl" />
        <activity android:name=".withdrawl" />
        <activity android:name=".ContestsFilterActivity" />
        <activity android:name=".legality" />
        <activity android:name=".more_faqs" />
        <activity android:name=".more_createteam" />
        <activity android:name=".more_introduction" />
        <activity android:name=".more_managing_team" />
        <activity android:name=".more_Account_Balance" />
        <activity android:name=".about_us" />
        <activity android:name=".jobs" />
        <activity android:name=".Help_desk">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.facebook.com"
                    android:pathPrefix="/Rising11kk/?ti=as"
                    android:scheme="https" />
                <data
                    android:host="www.instagram.com"
                    android:pathPrefix="/rising11kk"
                    android:scheme="https" />
                <data
                    android:host="twitter.com"
                    android:pathPrefix="/Rising11_kk?s=08"
                    android:scheme="https" />
                <data
                    android:host="www.youtube.com"
                    android:pathPrefix="/channel/UCMWcWW4oLaTOZGDo1enSpHg"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".Kabaddi_Home_Activity" />
        <activity android:name=".Football_Home_Activity" />
        <activity android:name=".ContestsActivity" />
        <activity android:name=".FantasyPointSystemActivity" />
        <activity
            android:name=".TeamPreviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CaptainViceCaptainSelectionActivity" />
        <activity android:name=".TeamSelectionActivity" />
        <activity android:name=".MyMatchActivity" />
        <activity android:name=".Whatsapp_Update_Activity" />
        <activity android:name=".How_To_Play_Activity" />
        <activity android:name=".Invite_Code_Activity" />
        <activity android:name=".HomeMoreActivity" />
        <activity android:name=".player_points" />
        <activity android:name=".fairPlay_TC" />
        <activity android:name=".how_it_works" />
        <activity android:name=".fair_play_rules" />
        <activity android:name=".Verify_User_card" />
        <activity android:name=".ForgetSetPasswordActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".OtpVerify_Activity" />
        <activity android:name=".AddCashActivity" />
        <activity android:name=".Contest" />
        <activity android:name=".wining_breakup" />
        <activity android:name=".JoinedContest" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".RewardOffer1Activity" />
        <activity android:name=".MyBalanceActivity" />
        <activity android:name=".RewardOffer2Activity" />
        <activity android:name=".MySettingsActivity" />
        <activity android:name=".MyReferralsActivity" />
        <activity
            android:name=".CreateContest"
            android:label="@string/title_activity_create_contest" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignIn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
    </application>

</manifest>